<div id="presentation" class="row">
  <div id="map">
    <div id ="lem1" class="lemmings right" data-id="right">
    </div>
    <div id ="lem2" class="lemmings left" data-id="left">
    </div>
  </div>
</div>
